server:
  port: 8080
  servlet:
    context-path: /
    session:
      timeout: 86400
  error:
    whitelabel:
      enabled: true
    include-stacktrace: never

spring:
  main:
    banner-mode: off
    allow-bean-definition-overriding: true
  jpa:
    hibernate:
      jdbc:
        lob:
          non_contextual_creation: true
      ddl-auto: none
  flyway:
    enabled: true
    baselineOnMigrate: true
    locations: classpath:db/migration
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5555/shogun
    username: shogun
    password: shogun
  session:
    store-type: redis
  redis:
    host: localhost
    port: 6379

keycloak:
  auth-server-url: http://localhost:8000/auth
  realm: SpringBootKeycloak
  resource: shogun-app
  public-client: true
  ssl-required: external
  principal-attribute: preferred_username
#  security-constraints:
#    - authRoles:
#      - user
#    - securityCollections:
#      - pattern:
#        - /customers/*

