.header-image {
  height: 50px;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: .75rem;
}
