name: Build and Deploy for Tag
on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
    secrets:
      nexus_user:
          required: true
      nexus_docker_user:
        required: true
      nexus_pass:
          required: true
      nexus_docker_password:
        required: true

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          ref: v${{ inputs.tag }}

      - name: Set up Java 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'
          architecture: x64

      - name: Restore cache
        uses: actions/cache/restore@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Create maven settings.xml with credentials
        uses: whelk-io/maven-settings-xml-action@v22
        with:
          servers: |
            [
              { "id": "nexus.terrestris.de", "username": "${{ secrets.nexus_user }}", "password": "${{ secrets.nexus_pass }}" },
              { "id": "docker-public.terrestris.de", "username": "${{ secrets.nexus_docker_user }}", "password": "${{ secrets.nexus_docker_password }}" },
              { "id": "terrestris-nexus", "username": "${{ secrets.nexus_user }}", "password": "${{ secrets.nexus_pass }}" },
              { "id": "terrestris-nexus-snapshots", "username": "${{ secrets.nexus_user }}", "password": "${{ secrets.nexus_pass }}" }
            ]

      - name: Install dependencies
        run: mvn compile --batch-mode

      - name: Save cache
        uses: actions/cache/save@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      - name: Deploy dependencies and docker release
        run: mvn deploy --batch-mode
